@model DeliveryApp.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h3>Detalles del pedido N° @Html.DisplayFor(model => model.IdPedido)</h3>
<hr />
<div class="info">
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.FechaPedido) : </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.FechaPedido) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Producto) : </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Producto.Descripcion) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Precio) : </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Precio) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.FormaEnvio) : </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.FormaEnvio) </p>
    </div>
    <b><p class="fs-5">Datos del cliente</p></b>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Cliente.Dni) : </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Cliente.Dni) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Cliente.Nombre) : </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Cliente.Nombre) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Cliente.Apellido) : </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Cliente.Apellido) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Cliente.Direccion) : </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Cliente.Direccion) </p>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" asp-route-id="@Model.IdPedido">Editar</a> |
        <a class="btn btn-primary" asp-action="Index">Volver</a>
    </div>

</div>
