@model IEnumerable<DeliveryApp.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos:</h1>

<p>
    <a asp-action="Create">Ingresar Pedido ➕</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaEnvio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar ✒</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalles 📑</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Eliminar❌</a>
            </td>
        </tr>
}
    </tbody>
</table>
