@model DeliveryApp.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h3>Detalles del cliente N° @Html.DisplayFor(model => model.IdCliente)</h3>
<hr />
<div class="info">
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Dni) :  </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Dni) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Nombre) :  </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Nombre) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Apellido) :  </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Apellido) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Direccion) :  </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Direccion) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Email) :  </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Email) </p>
    </div>
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Telefono) :  </p> </b> <p class="ms-2">  @Html.DisplayFor(model => model.Telefono) </p>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdCliente">Editar</a> |
        <a class="btn btn-primary" asp-action="Index">Volver</a>
    </div>
</div>
